{% block nav %}
<!-- Navigation (Stays on Top) Responsive-->
<!-- Left Nav Items Below -->
<nav class="navbar navbar-expand-sm bg-info">
  <!--  Home Button  -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link text-dark" href="{{ url_for('base.home') }}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="{{ url_for('lottery.lotteryDraws') }}">Lottery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="{{ url_for('password.passwd') }}">Passwords</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="{{ url_for('games.gamesIndex') }}">Games</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="{{ url_for('forms.contact') }}">Contact us</a>
    </li>
  </ul>
  <!-- Right hand Nav Items Below -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link text-dark" href="{{ url_for('forms.login') }}">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="{{ url_for('forms.register') }}">Register</a>
    </li>
  </ul>
</nav>

{% endblock %}